.body2 {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    text-align: center;
}

h1, h2, h3 {
    color: #0056b3;
    text-align: center;
}

a {
    color: #ff6600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
section {
    margin-bottom: 40px;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}       

button {
    background: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}

button:hover {
    background: #003d82;
}

@keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
}

section {
    animation: fadeIn 1s ease-in-out;
}